.btn {
    text-transform: uppercase;
    color: #fff;
    background-color: #8CC540;
    border: 0;
    border-radius: 999px;
}

// ---------------------------------
#footer {
    background: #F9F9F9 url("images/Group.png") no-repeat right bottom;
    
    .backtop {
        position: fixed;
        z-index: 999;
        bottom: 90px;
        right: 150px;
        width: 42px;
        height: 42px;
        background-color: #8CC540;
        text-align: center;
        line-height: 42px;
        border-radius: 50%;
        font-size: 30px;
        color: #fff;
        cursor: pointer;

        display: none;
    }
    .backtop:after {
        content: "";
        position: absolute;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        background-color: transparent;
        border: 2px solid #8CC540;
        border-radius: 50%;
    }
}

.footer_top {
    border-bottom: 2px solid #8CC540;
    padding-top: 50px;
    padding-bottom: 56px;
}

.footer_column {
    img {
        margin-left: -30px;
    }
    h2 {
        color: #079542;
        font-size: 16px;
        line-height: 24px;
        margin-top: 11px;
        margin-bottom: 30px;
        padding-right: 420px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
    }
    h3 {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }
    i {
        color: #8CC540;
        width: 16px;
        height: 16px;
        text-align: center;
    }
    .footer_address {
        margin-bottom: 12px;
        span {
            font-size: 16px;
            line-height: 24px;
            margin-left: 16px;
        }
    }
    form {
        width: 310px;
        position: relative;
        i {
            position: absolute;
            top: 0;
            right: 11px;
            line-height: 45px;
            font-size: 24px;
            color: #4F4F4F;
        }
        button {
            width: 128px;
            height: 35px;
            text-transform: uppercase;
            color: #fff;
            background-color: #8CC540;
            border-radius: 999px;
            border: 0px;
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 41px;
        }
    }
    input {
        width: 100%;
        border: 1px solid #8CC540;
        padding: 14px 0 14px 13px;
    }
     ::placeholder {
        font-size: 14px;
        line-height: 16px;
    }
    .social {
        a {
            margin-right: 24px;
        }
    }
    &.footer_column--modify {
        margin-top: 147px;
    }
}

.footer_bot {
    p {
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 35px;
        padding-bottom: 28px;
    }
}