.paragraph--modify{
  p{
    color:#4C4C4C;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: justify;
  }
}
.introduction{
  padding-top:92px;
  padding-bottom:123px;
  h2{
    color:#8CC540;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    margin-top:0;
    text-transform: uppercase;
    text-align: center;
  }
  &_history{
    img{
      margin-right:49px;
    }
    .introduction_text{
      width: 46%;
      letter-spacing: -0.5px;
    }
    h2{
      margin-bottom:62px;
    }
    p:first-child{
      margin-top:0;
    }
  }
  &_vision{
    padding-top:160px;
    padding-bottom:250px;
    h2{
      margin-bottom:55px;
    }
    .introduction_wrapimg{
      margin-top:79px;
    }
    
  }
  &_achievement{
    h2{
      margin-bottom: 63px;
    }
    p:first-child{
      margin-top:0;
    }
    p:nth-child(3){
      margin-top:25px;
    }
    i{
      color:#8CC540;
      margin-right: 5px;
    }
    .introduction_text{
      width:54%;
    }
  }
  &_illustration{
    margin-top:41px;
    img{
      vertical-align: middle;
      display: inline-block;
      &:not(:last-child){
        margin-right:12px;
      }
    }
  }
}