#header {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 5;
    width: 100%;
}

.header_content {
    line-height: 155px;
    img {
        float: left;
        margin-left: 104px;
        margin-top: 24px;
    }
    nav {
        float: right;
        line-height: 50px;
        margin-top: 50px;
    }
    li {
        display: inline-block;
        margin-left: 20px;
    }
    a {
        display: inline-block;
        text-transform: uppercase;
        color: #4C4C4C;
        font-size: 18px;
        line-height: 21px;
        padding: 8px 18px;
        font-weight: 500;
        &:hover {
            color: #8CC540;
        }
    }
    .wrap_navmore {
        float: right;
        margin-right: 125px;
        margin-left: 20px;
        a {
            outline: 0;
        }
        i {
            font-size: 24px;
            cursor: pointer;
        }
        i:nth-child(2) {
            margin-left: 27px;
            margin-right: 27px;
        }
        i:nth-child(1) {
            position: relative;
        }
        .countitem {
            position: absolute;
            width: 16px;
            height: 16px;
            line-height: 16px;
            background-color: #8CC540;
            color: #fff;
            display: inline-block;
            font-size: 12px;
            text-align: center;
            border-radius: 50%;
            top: -13px;
            right: -8px;
            font-weight: 500;
        }
    }
    .bar-customer {
        border: 2px solid #fff;
        padding-top: 5px;
        width: 40px;
        height: 35px;
        background-color: #8CC540;
        cursor: pointer;
        position: absolute;
        z-index: 900;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        display: none;
    }
    span {
        display: block;
        width: 90%;
        height: 4px;
        background-color: #fff;
        margin: 0 auto;
    }
    span:nth-child(2) {
        transition: .1s;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    span:not(:nth-child(2)) {
        transition: .5s;
    }
    .bar-customer.bar-active span:nth-child(2) {
        transform: translateX(-50px);
        opacity: 0;
    }
    .bar-customer.bar-active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .bar-customer.bar-active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

// ---css for search---
.search_layer {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 6;
    .img-decoration {
        margin: 40px auto 55px auto;
    }
    form {
        width: 1188px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        color: #fff;
        .fa-times {
            position: absolute;
            top: 90px;
            right: 0;
            font-size: 32px;
            font-weight: 100;
            width: 22px;
            height: 22px;
            line-height: 22px;
            cursor: pointer;
        }
        input {
            outline: 0;
            width: 100%;
            height: 60px;
            font-size: 24px;
            line-height: 28px;
            color: #fff;
            border: 0;
            border-bottom: 2px solid #fff;
            background-color: transparent;
            text-align: center;
        }
         ::placeholder {
            color: #fff;
            font-size: 22px;
        }
        button {
            position: absolute;
            right: 0;
            bottom: 10px;
            border: 0;
            background-color: transparent;
            color: #fff;
            width: 60px;
            height: 60px;
            font-size: 48px;
        }
    }
}

// fancybox dang nhap dang ki
.search_layer.search_active {
    display: block;
}

#fancybox-dangnhap-dangki,
#dangki {
    display: none;
}

// fancy box cart
.title__giohang .row {
    background: rgba(141, 198, 63, 0.2);
    color: #4C4C4C;
    font-size: 20px;
    margin: 0;
    line-height: 67px;
    text-align: center;
    h3 {
        margin: 0;
        font-weight: 600;
    }
}

.content-buy-product__giohang .col-3 {
    color: #4C4C4C;
    .box2__wrap--text {
        h4 {
            font-weight: 400;
            font-size: 18px;
        }
        p {
            color: #8CC540;
            font-size: 18px;
            margin: 0;
            font-weight: 400;
        }
    }
}

.content-buy-product__giohang {
    .row {
        margin: 0;
        border-bottom: 1px solid #C4C4C4;
    }
    .col-3 {
        padding: 15px 0;
        text-align: center;
        &:not(:first-child) span {
            padding: 0 15px;
            padding-bottom: 2px;
            line-height: 29px;
            border: 1px solid #C4C4C4;
            margin-top: 20px;
            display: inline-block;
        }
        .tru__giohang {
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            background: #C4C4C4;
        }
        .cong__giohang {
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            background: #C4C4C4;
        }
        p {
            font-size: 18px;
            color: #8CC540;
            font-weight: 600;
            margin: 25px 0 0 0;
        }
        i {
            margin-top: 30px;
            display: inline-block;
        }
        input {
            display: inline-block;
            width: 50px;
            border: 1px solid #C4C4C4;
            margin-left: -5px;
            border-right: 0;
            border-left: 0;
            line-height: 27px;
            padding-top: 3px;
            text-align: center;
        }
    }
    &+.row {
        margin: 24px 0 53px 0;
        background: rgba(141, 198, 63, 0.2);
    }
}

#fancybox-giohang {
    display: none;
}

.fancybox-close-small {
    left: 0;
}

.padding__giohang {
    width: 800px;
    padding: 100px 0;
    text-align: right;
    &>a {
        display: inline-block;
        padding: 0 61px;
        background: #8DC63F;
        font-weight: 600;
        font-size: 23px;
        border-radius: 28px;
        color: #fff;
        line-height: 56px;
    }
}

.content-tong-all {
    .tong-all {
        float: right;
        width: 45%;
        color: #4C4C4C;
        padding: 29px 54px 33px 0;
    }
    h4 {
        display: inline-block;
        margin: 0;
    }
    .tong-sanpham {
        padding-bottom: 20px;
        h4,
        span {
            color: #4C4C4C;
            font-weight: 500;
        }
    }
    .price-transport {
        padding-bottom: 23px;
        h4,
        span {
            font-weight: 400;
            font-style: italic;
        }
    }
    .tong-tien {
        h4,
        span {
            color: #C60202;
            font-size: 24px;
            font-weight: 500;
        }
    }
}