.contact_content{
  padding-top:93px;
  padding-bottom: 109px;
}
.map{
  width:50%;
}
.contact{
  width:50%;
  h2{
    text-transform: uppercase;
    color:#0B9444;
    font-size: 24px;
    line-height: 37px;
    width: 381px;
    text-align: center;
    margin-top:0;
    font-weight: 600;
  }
  .wrap_address{
    margin-bottom:5px;
    span{
      font-size:16px;
      line-height: 24px;
    }
    span:nth-child(1){
      font-weight: 600;
    }
  }
  .h2-modify{
    color:#4C4C4C;
    text-align: left;
    margin-top: 110px;
    margin-bottom: 59px;
  }
  .text{
    border:1px solid #A3A3A3;
    padding-left:25px;
    width:100%;
    font-size:20px;
  }
  .text:nth-child(1){
    height: 47px;
    padding-top:0;
    padding-bottom:0;
    margin-bottom:38px;
  }
  .text:nth-child(2){
    padding:19px 0 10px 25px;
    resize: none;
    height:169px;
    margin-bottom:20px;
  }
  ::placeholder{
    font-size: 16px;
    line-height: 24px;
    color:#4C4C4C;
  }
  button{
    padding: 0 62px 0 62px;
    line-height: 37px;
    font-size: 24px;
    height: 49px;
    font-weight: 600;
    float:right;
  }
}
#contact iframe{
  width:588px;
  height:399px;
  border:0;
}