#sectionnews{
  .section1{
    padding-top:89px;
    padding-bottom:40px;
  }
  .section1__inner{
    margin-left: -15px;
    margin-right:-15px;
  }
  .section1__inner--box1{
    width:66.6667%;
    float:left;
    padding:0 15px;
    img:nth-child(1){
      margin-bottom:30px;
    }

    h3{
      color:#8CC540;
      font-size: 30px;
      line-height: 46px;
      font-weight: 500;
      margin:34px 0;
    }
    .date{
      color:#656565;
      font-size:14px;
      line-height: 21px;
      display: inline-block;
    }
    img:nth-last-child(4){
      margin-right: 30px;
    }
    p:nth-child(5){
      margin-bottom:34px;
    }
    p:last-child{
      margin-top:34px;
      margin-bottom: 24px;
    }
    &_bottom{
      border-top:2px solid #C4C4C4;
      color:#4C4C4C;
      padding-top:17px;
      height: 100px;
      span{
        margin-right:8px;
      }
      a{
        font-size: 16px;
        line-height: 24px;
        background-color: #EEE;
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
        -webkit-border-radius: 999px;
        border-radius: 999px;
        margin-right: 12px;
        box-sizing: content-box;
        vertical-align: middle;
      }
      a:nth-last-child(-n+3){
        padding-left: 0;
        padding-right: 0;
        margin-right:0;
        border-radius: none;
        background-color: transparent;
        float:right;
        img{
          margin-bottom:0;
        }
      }
      a:nth-last-child(3){
        width:32px;
        height:32px;
      }
      a:nth-last-child(2){
        width:59px;
        height:32px;
      }
      a:nth-last-child(1){
        width:57px;
        height:32px;
      }
    }
  }
}