.remember__dangnhap{
	float: left;
}
.forget-pass{
	float: right;
}
.remember__dangnhap {
	input {
		float: left;
	    margin: 0;
	    height: 28px;
	    width: 28px;
	}
	span {
	    line-height: 28px;
	    color: #4C4C4C;
	    padding-left: 12px;
	}
}
.forget-pass p {
    margin: 0;
    color: #4C4C4C;
}
// #dangnhap, #dangki{
// 	display: block;
// }