.menu-choose__product{
	width: 25%;
	float: left;
}
.product__img-right{
	width: 75%;
	float: left;
	.col-4{
		margin-bottom: 47px;
	}
}
.product-sanpham {
    text-align: center;
    border: 1px solid rgba(141, 198, 63, 0.5);
    padding-bottom: 10px;
    .img-hover__bg-price{
    	position: relative;
    	overflow: hidden;
    	cursor: pointer;
    	.hover-bg-opacity{
			position: absolute;
    		display: none;
		    width: 283px;
		    background: rgba(73, 73, 73, 0.3);
		    height: 310px;
		    left: 0;
		    top: 0;
		    padding: 0;
		    border-radius: 0;
		}
		& > span {
		    position: absolute;
		    left: 10px;
		    top: 10px;
		    padding: 7px 5px;
		    background: red;
		    color: #fff;
		    border-radius: 50%;
		}
		&:hover{
			.hover-bg-opacity, .hover-block{
				display: block;
			}
		}
    }
	h4 {
	    color: #4C4C4C;
	    margin: 0;
	    line-height: 24px;
	    padding: 15px 0;
	    font-weight: 400;
    	font-size: 24px;
	}
	p {
	    font-size: 24px;
	    line-height: 28px;
	    margin: 0;
	    color: #8CC540;
	    font-weight: 400;
	}
}
.hover-block{
	position: absolute;
	width: 140px;
	display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    i {
	    padding: 10px 15px;
	    font-size: 13px;
	    border: 1px solid #8CC540;
	    border-radius: 50%;
	    background: #fff;
	    margin-right: 15px;
	    color: #9F9F9F;
	}
	i.fas.fa-shopping-cart{
		padding: 10px;
	}
	i.fas.fa-heart {
	    padding: 10px;
	    margin: 0;
	}
}

.sanpham-right {
    position: relative;
    padding: 94px 0 83px;
    .row {
	    padding-bottom: 114px;
	}
}
.slide-next{
	text-align: center;
	a{
	    margin-right: 15px;
	}
	span {
	    width: 52px;
	    height: 52px;
	    display: inline-block;
	    text-align: center;
	    border-radius: 50%;
	    font-size: 24px;
	    color: #4C4C4C;
	    border: 1px solid #8CC540;
	    line-height: 52px;
	    &:hover{
	    	background: #8CC540;
	    	color: #fff;
	    }
	}
	a:last-child{
		margin: 0;
	}
}
.price-active .price__active{
	display: none;
}
//res