.item__inner {
    width: 100%;
    border: 1px solid #E5E5E5;
    margin-bottom: 35px;
    &--img {
        width: 40%;
        float: left;
    }
    &--text {
        width: 60%;
        padding: 0 15px;
        float: left;
        color: #4c4c4c;
        h4 {
            font-size: 24px;
            font-weight: 500;
            line-height: 37px;
            margin: 0;
            padding-top: 18px;
        }
        >p {
            font-size: 16px;
            line-height: 24px;
            padding: 22px 0;
            margin: 0;
        }
    }
    &--bot {
        width: 100%;
        p {
            float: left;
            font-size: 14px;
            line-height: 21px;
            margin: 0;
        }
        a {
            float: right;
            font-size: 16px;
            line-height: 24px;
            color: #8CC63F;
            font-style: italic;
            text-decoration: none;
        }
    }
}