// Start: tintucitem


mixin tintucitem(urlimg,title,content,date)
      .item__inner
          .item__inner--1
              .item__inner--img
                  a(href="tintucdetail.html")
                      img(src=urlimg alt="")
              .item__inner--text
                  h4=title
                  p=content
                  .item__inner--bot
                      p.date=date
                      a(href="tintucdetail.html") Xem thêm
              .clearfix

// End: tintucitem
