#dangnhap, #dangki{
	text-align: right;
	ul{
		text-align: center;
		li{
		display: inline-block;
		}
	}
	.name__dangnhap{
		padding: 135px 0 46px 0;
		li{
			line-height: 42px;
			font-size: 38px;
			color: #4c4c4c;
		}
		.li-dangnhap {
		    color: #8DC63F;
		    padding-right: 30px;
		    margin-right: 30px;
		    border-right: 3px solid #4c4c4c;
		}
	}
	.contact__dangnhap{
		padding-bottom: 50px;
		li {
		    line-height: 51px;
		    width: 194px;
		    font-weight: 600;
		    margin: 0 15px;
		    color: #fff;
		    border-radius: 5px;
		    i {
			    padding: 0 15px;
			}
		}
		.facebook{
			background: #3B5998;
			text-align: left;
		}
		.gg-plus{
			background: #DD4B39;
			text-align: left;
		}
	}
	form {
		& > a {
	        display: inline-block;
		    padding: 0 61px;
		    background: #8DC63F;
		    font-weight: 600;
		    font-size: 23px;
		    border-radius: 28px;
		    color: #fff;
		    line-height: 56px;
		}
		& > input {
		    width: 100%;
		    height: 51px;
		    padding-left: 15px;
		    outline: none;
		    border: 1px solid #A3A3A3;
		    margin-bottom: 30px;
		    font-size: 16px;
		    &::placeholder{
		    	color: #A3A3A3;
		    }
		}
	}
}
.dangnhap, .dangki {
    background: #fff;
    padding: 0px 200px 282px 200px;
	.row{
		margin: 0;
		padding-bottom: 48px;
	}
}