mixin dangnhap()
	ul.name__dangnhap
		li.li-dangnhap: a(href="#") ĐĂNG NHẬP
		li.li-dangki: a(href="#") ĐĂNG KÍ
	ul.contact__dangnhap
		li.facebook
			a(href="#")
				i.fab.fa-facebook-f
				span Facebook
		li.gg-plus
			a(href="#")
				i.fab.fa-google-plus-g
				span Google+
mixin input__dangnhap(type,placeholder)
	input(type=type placeholder=placeholder)