mixin giohang(thanhtien,value,price)
	.row
		.col-3
			+tin-moi("../../images/giohang-100x100.png","Lorem Ipsum",price)
		.col-3
			span.tru__giohang -
			input(type="text" value=value)
			span.cong__giohang +
		.col-3
			p=thanhtien
		.col-3
			a(href="#")
				i.fas.fa-times