.box2__wrap {
    &--1 {
        margin: 10px -10px;
    }
    &--img {
        width: 40%;
        float: left;
        padding: 0 10px;
    }
    &--text {
        color: #4c4c4c;
        width: 60%;
        float: left;
        padding: 0 10px;
        h4 {
            font-size: 20px;
            line-height: 20px;
            margin: 0;
            padding-bottom: 12px;
            font-weight: 600;
        }
        p {
            font-size: 16px;
            line-height: 23px;
            margin: 0;
            padding: 0;
        }
        .date {
            margin: 0;
            font-size: 14px;
            line-height: 21px;
            color: #656565;
            padding-top: 15px;
        }
    }
}