// Start: tin-moi

mixin tin-moi(urlimg, title, content, date)
  .box2__wrap--1
    .box2__wrap--img
        a(href="")
            img(src=urlimg alt="")
    .box2__wrap--text
        h4=title
        p=content
        p.date=date
    .clearfix

// End: tin-moi
