/*********************
    - 2. General -
*********************/

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'iCielGraphik';
    font-size: 16px;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container-1920 {
    max-width: 1920px;
    margin: 0 auto;
}

.container-1212 {
    max-width: 1212px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.col-3 {
    width: 25%;
}

.col-8 {
    width: 66.67%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.67%;
}

.col-7 {
    width: 58.33%;
}

[class^="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

input,
button {
    outline: transparent;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

button {
    cursor: pointer;
}

.list-inline,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-inline li {
    @include dis(middle);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    border: none;
    display: block;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear-fix,
.clearfix {
    clear: both;
}