//1680-byTuan
@media screen and (max-width: 1680px) {
    .header_content {
        li {
            margin-left: 0;
        }
        img {
            margin-top: 10px;
        }
    }
    #home {
        .container {
            padding: 0 20px;
        }
        .section1 h3 {
            padding: 0;
        }
        .banner__position p {
            font-size: 38px;
        }
        h3 {
            font-size: 28px;
            line-height: 47px;
        }
        .banner__position h3 {
            font-size: 66px;
            margin: 35px 0;
        }
        .section1__inner--menu>button,
        .section1 .item__div1--bot p {
            font-size: 17px;
            line-height: 30px;
        }
        .section1 .item__div1--bot p {
            line-height: 12px;
        }
        .section3__box3--text {
            padding: 30px 0;
        }
        .section3__box3--text p {
            font-size: 15px;
        }
        .section3__box3 li {
            padding: 10px 0;
            line-height: 18px;
            font-size: 15px;
        }
        .section3__box3 a {
            font-size: 16px;
        }
        .section4__pos {
            margin: 65px -20px 0px -20px;
        }
        .section4__pos p {
            font-size: 15px;
        }
        .section4 {
            padding: 75px 0;
        }
        .banner__position button {
            font-size: 18px;
            line-height: 45px;
            padding: 0 45px;
        }
    }
    #tin__tuc {
        .section1 .button {
            button {
                width: 30px;
                height: 30px;
                font-size: 17px;
                line-height: 30px;
                text-align: center;
            }
        }
    }
    #spdetail {
        .container {
            padding: 0 20px;
        }
        .hover-block {
            display: block;
        }
        .banner h1 {
            font-size: 30px;
        }
        .section1__infor--1 h4 {
            font-size: 25px;
        }
        .section1__infor--1 .cost {
            font-size: 22px;
        }
        .menu__sanpham h2 {
            font-size: 22px;
            font-weight: 600;
        }
        .menu-sanpham .menu-parent>li {
            font-size: 16px;
        }
        .product-sanpham h4,
        .product-sanpham p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width:1393px) {
    .header_content img {
        margin-left: 55px;
    }
    #home {
        .section3 {
            padding: 70px 0;
        }
        .section1 .item__div1 {
            margin-bottom: 50px;
        }
        .section1__inner {
            padding-bottom: 65px;
        }
        .banner__position button {
            font-size: 15px;
            line-height: 40px;
            padding: 0 40px;
        }
    }
}

//1366px-byTuan
@media screen and (max-width: 1366px) {
    #sanpham {
        padding: 0 15px;
        .menu__sanpham h2 {
            font-size: 25px;
        }
    }
}

@media screen and (max-width:1341px) {
    .header_content img {
        margin-left: 10px;
    }
    #home {
        .container-1212 {
            padding: 0 20px;
        }
        .banner__position p {
            font-size: 36px;
        }
        .section5__content--img {
            padding: 0 20px;
        }
        .section5__content {
            margin: 0 -20px;
        }
    }
}

//1280px-byTuan
@media screen and (max-width:1337px) {
    .header_content {
        line-height: 100px;
        img {
            margin-top: 0;
            margin-left: 10px;
        }
        nav {
            margin-top: 45px;
            // margin-right: 200px;
        }
        a {
            padding-left: 10px;
            padding-right: 10px;
        }
        .wrap_navmore {
            margin-top: 20px;
            margin-right: 50px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .search_layer form {
        width: 70%;
    }
    #home {
        .banner__position p {
            font-size: 32px;
        }
        .banner__position p {
            font-size: 30px;
        }
        .banner__position h3 {
            font-size: 50px;
        }
    }
}

//1136px-byTuan
@media screen and (max-width:1136px) {
    .header_content {
        line-height: 100px;
        img {
            margin-top: 0;
        }
        nav {
            margin-top: 45px;
        }
        a {
            padding-left: 10px;
            padding-right: 10px;
        }
        .wrap_navmore {
            margin-top: 20px;
            margin-right: 50px;
        }
    }
    #footer {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    #contact {
        iframe {
            width: 100%;
        }
    }
    #introduction,
    #sectionnews,
    #contact,
    #footer {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .introduction_vision {
        padding-bottom: 150px;
    }
    .introduction_history img {
        margin-right: 20px;
    }
    .introduction_wrapimg img {
        width: 49%;
    }
    .introduction_achievement .introduction_illustration img {
        margin-right: 0;
        width: 25%;
    }
}

@media screen and (max-width:1112px) {
    .header_content a {
        padding-left: 5px;
        padding-right: 5px;
    }
    #home {
        .banner__position h3 {
            font-size: 45px;
            margin: 20px 0;
        }
        .banner__position p {
            font-size: 28px;
        }
        .section3__box3 li,
        .section3__box3--text p {
            font-size: 14px;
        }
        .section3__box3 a {
            font-size: 15px;
        }
        .section5 {
            padding: 55px 0 80px 0;
        }
    }
}

//1080px-byTuan
@media screen and (max-width: 1080px) {
    .header_content {
        li {
            margin-left: 10px;
            margin-right: 10px;
        }
        img {
            display: none;
        }
        nav {
            float: left;
            width: 79%;
            text-align: center;
        }
    }
    #footer {
        .col-8 {
            width: 65%;
        }
        .backtop {
            right: 100px;
        }
    }
    .footer_column h2 {
        padding-right: 0;
        text-align: left;
    }
    .introduction_vision {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .introduction_history img {
        margin-right: 2%;
        width: 52%;
    }
    .introduction_achievement .introduction_text+img {
        width: 44%;
        margin-left: 2%;
    }
    #home {
        .section5 h3 {
            width: 85%;
        }
    }
    #spdetail {
        .box2__wrap--text h4 {
            font-size: 17px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 1024px) {
    #tin__tuc {
        .container {
            padding: 0 15px;
        }
        .banner h3 {
            padding-top: 110px;
            padding-bottom: 70px;
        }
        .section1 .item__inner--text h4 {
            line-height: unset;
            padding: 5px 0;
            font-size: 20px;
        }
        .section1 .item__inner--text>p {
            font-size: 15px;
            padding: 0;
        }
        .section1__inner--box2 h3 {
            font-size: 20px;
            line-height: unset;
        }
        .section1__inner {
            margin: 0 -10px;
        }
        .section1__inner--box1 {
            padding: 0 10px;
        }
        .section1__inner--box2 {
            padding: 0 10px;
        }
        .section1 .box2__wrap--1 {
            margin: 10px -5px;
        }
        .section1 .box2__wrap--img,
        .section1 .box2__wrap--text {
            padding: 0 5px;
        }
        .section1 .box2__wrap--text h4 {
            line-height: unset;
            font-size: 13px;
            padding-bottom: 5px;
        }
        .section1 .box2__wrap--text p {
            font-size: 12px;
            line-height: 19px;
        }
        .section1 .box2__wrap--text .date {
            font-size: 10px;
        }
        .section1 .owl-theme .owl-nav {
            width: 30%;
        }
    }
    #home {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .banner__position {
            h3 {
                font-size: 40px;
            }
            button {
                padding: 0px 40px;
            }
        }
        .banner .owl-nav {
            padding: 0 10px;
            span {
                padding: 5px 15px;
            }
        }
        h3 {
            font-size: 27px;
        }
        .section1 h3 {
            padding: 0;
        }
        .section1 .item__div1 {
            margin-bottom: 20px;
            &--bot p {
                font-size: 15px;
                line-height: 15px;
            }
        }
        .section3 {
            padding: 40px 0;
            h3 {
                padding-bottom: 35px;
            }
            &__box1 {
                &--img {
                    padding-bottom: 17px;
                }
            }
            &__box2 {
                width: 40%;
            }
            &__box3 {
                width: 45%;
                h4 {
                    padding: 0;
                    font-size: 22px;
                }
                &--text {
                    padding: 15px 0;
                }
                li {
                    line-height: 0;
                }
            }
        }
        .section4 {
            &__pos {
                margin: 30px -20px 0 -20px;
                &--left {
                    #nextt,
                    #prevv {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                    }
                    #nextt {
                        right: 25px;
                    }
                    #prevv {
                        left: 25px;
                    }
                }
                p {
                    font-size: 15px;
                }
            }
        }
        .section5 {
            h3 {
                width: 70%;
                padding-bottom: 40px;
            }
        }
        .section1__inner--menu>button {
            margin: 35px;
        }
        .section1 .item__div1--abs li {
            margin: 0 5px;
        }
    }
}

@media screen and (max-width: 980px) {
    #sanpham {
        .menu__sanpham h2 {
            font-size: 20px;
        }
        .menu-choose__product {
            width: 30%;
        }
        .product__img-right {
            width: 70%;
            .col-4 {
                width: 50%;
            }
        }
    }
    #home {
        h3 {
            font-size: 23px;
        }
        .banner__position p {
            font-size: 26px;
        }
        .banner__position h3 {
            font-size: 38px;
        }
    }
    #spdetail {
        .section1__infor--cart a {
            margin: 0 10px;
        }
    }
}

//byTuan
@media screen and (max-width:960px) {
    .header_content {
        line-height: 80px;
        nav,
        .wrap_navmore {
            margin-top: 0;
            line-height: 80px;
        }
    }
    #footer .col-8 {
        width: 60%;
    }
    // fancy box dang nhap + dang ki
    .dangnhap,
    .dangki {
        padding: 0px 50px 100px 50px;
    }
    #home {
        .banner__position p {
            font-size: 23px;
        }
        .banner__position h3 {
            margin: 0;
            font-size: 32px;
        }
        .section1__inner--menu>button {
            margin: 20px;
        }
        .section3 {
            &__box1 {
                &--img {
                    padding-bottom: 10px;
                }
            }
            &__box2 {
                width: 38%;
            }
            &__box3 {
                width: 47%;
                li {
                    padding: 5px 0;
                }
            }
        }
    }
    #spdetail {
        .section1__infor--member span {
            padding: 0 15px;
        }
        .section1__infor--member {
            width: 125px;
        }
    }
}

@media screen and (max-width:900px) {
    #sectionnews .section1__inner--box1 img:nth-last-child(4) {
        margin-bottom: 20px;
    }
    //fancy box cart
    #giohang {
        overflow: scroll;
    }
    #home {
        .section3__box3 {
            width: 100%;
            padding-top: 35px;
        }
    }
    #spdetail {
        .banner h1 {
            font-size: 27px;
        }
        .section1__infor--member {
            width: 110px;
        }
        .section1__infor--member span {
            padding: 0 13px;
        }
        .menu__sanpham h2 {
            font-size: 20px;
        }
        .box2__wrap--text h4 {
            font-size: 16px;
        }
        .box2__wrap--text p {
            font-size: 15px;
        }
    }
}

@media screen and (max-width:854px) {
    #footer .col-8 {
        width: 55%;
    }
    #home {
        .banner__position p {
            font-size: 20px;
        }
        .banner__position h3 {
            font-size: 25px;
        }
        .section4__pos--left #prevv {
            left: 10px;
        }
        .section4__pos--left #nextt {
            right: 10px;
        }
    }
    #spdetail {
        .section1__left {
            width: 70%;
        }
        .section1__right {
            width: 30%;
        }
        .section1__left--slide,
        .section1__left--infor {
            width: 100%;
        }
        .section1__left--infor {
            padding-top: 30px;
        }
        .hover-block i {
            padding: 5px 10px;
        }
        .hover-block i.fas.fa-shopping-cart {
            padding: 5px 5px;
        }
        .hover-block i.fas.fa-heart {
            padding: 5px;
        }
        .product-sanpham h4 {
            line-height: 10px;
            padding: 10px 0;
        }
        .product-sanpham .img-hover__bg-price>span {
            font-size: 14px;
            padding: 5px;
        }
    }
}

@media screen and (max-width:800px) {
    .header_content nav {
        width: 75%;
    }
    .header_content li {
        margin-left: 5px;
        margin-right: 5px;
    }
    #contact {
        .map {
            text-align: right;
        }
        iframe {
            width: 95%;
            height: 300px;
        }
    }
    #sectionnews .section1__inner--box1 img:nth-last-child(4) {
        float: none;
        margin: 0 auto;
    }
}

// ipad:768x1024px
@media screen and (max-width:768px) {
    .header_content {
        nav {
            position: absolute;
        }
    }
    #footer .col-4 {
        width: 45%;
    }
    .introduction {
        padding-top: 50px;
        &_history {
            img {
                float: none;
                margin: 0 auto 15px auto;
            }
            .introduction_text {
                width: 100%;
            }
        }
        &_vision {
            padding-top: 50px;
        }
        &_achievement p:not(:nth-child(-n+2)) {
            text-align: left;
        }
    }
    .contact {
        .h2-modify {
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }
    .map {
        width: 45%;
        float: right;
    }
}

@media screen and (max-width:737px) {
    .header_content li {
        margin-left: 0;
        margin-right: 0;
    }
    #home {
        h3 {
            font-size: 21px;
        }
        .banner__position h3 {
            letter-spacing: 15px;
            font-size: 20px;
            line-height: 58px;
        }
        .banner__position p {
            line-height: 30px;
            font-size: 17px;
        }
        .banner__position button {
            font-size: 12px;
            line-height: 30px;
            padding: 0 30px;
        }
        .section1__inner--menu>button {
            margin: 15px 5px;
        }
        .section1__inner--menu>button,
        .section1 .item__div1--bot p {
            font-size: 16px;
        }
    }
}

//bar-menu
@media screen and (max-width: 720px) {
    #tin__tuc {
        .section1 h3 {
            margin-top: 0;
        }
        .section1 {
            padding: 75px 0 65px 0;
        }
        .section1__inner--box1 {
            width: 100%;
            padding-bottom: 50px;
        }
        .owl-carousel.owl-loaded {
            display: block;
        }
        .section1__inner--box2 {
            width: 100%;
        }
        .section1 .box2__wrap--img {
            width: 30%;
        }
        .section1 .box2__wrap--text {
            width: 70%;
        }
        .section1 .box2__wrap--text h4 {
            font-size: 18px;
        }
        .section1 .box2__wrap--text p {
            font-size: 16px;
            padding-bottom: 10px;
        }
        .section1 .box2__wrap--text .date {
            font-size: 12px;
        }
    }
    #home {
        .banner__position {
            p {
                font-size: 17px;
            }
            h3 {
                font-size: 25px;
                letter-spacing: 10px;
            }
            button {
                padding: 0px 25px;
                font-size: 10px;
                line-height: 26px;
            }
        }
        h3 {
            font-size: 18px;
            line-height: 30px;
        }
        .mother>.owl-dots .owl-dot span {
            padding: 0;
        }
        .section1 {
            .item__div1 {
                width: 33.3333%;
            }
            .mother {
                height: 920px;
            }
        }
        .section3 {
            &__box1 {
                width: 25%;
                &--img {
                    padding-bottom: 30px;
                }
            }
            &__box2 {
                width: 75%;
            }
            &__box3 {
                width: 100%;
                padding-top: 20px;
            }
        }
        .section4 {
            padding: 45px 0 85px 0;
            &__pos {
                &--left {
                    float: unset;
                    margin: auto;
                    border-right: unset;
                    #prevv {
                        left: -25px;
                    }
                    #nextt {
                        right: -25px;
                    }
                }
                &--right {
                    width: 100%;
                    float: unset;
                }
            }
        }
        .section5 {
            padding: 70px 0 50px 0;
        }
    }
    #contact {
        .contact {
            width: 100%;
            margin-bottom: 25px;
        }
        .map {
            width: 100%;
        }
        iframe {
            width: 100%;
            height: 400px;
        }
    }
    .header_content {
        .bar-customer {
            display: block;
        }
        nav {
            position: unset;
        }
        ul {
            position: absolute;
            z-index: 950;
            top: 80px;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            display: none;
        }
        li {
            display: block;
            background-color: #fff;
            line-height: 50px;
            border-bottom: 2px solid #8cc54078;
        }
        a {
            color: #8CC540;
        }
    }
    .footer_column form {
        width: 100%;
    }
    .search_layer .img-decoration {
        width: 75%;
    }
    .introduction h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    #sectionnews .section1__inner--box1_bottom a:nth-last-child(-n+3) {
        float: none;
    }
    //fanvy box dang nhap + dang ki
    #dangnhap .name__dangnhap li,
    #dangki .name__dangnhap li {
        font-size: 30px;
    }
    #dangnhap .contact__dangnhap li,
    #dangki .contact__dangnhap li {
        width: 120px;
    }
    #dangnhap form>a,
    #dangki form>a {
        padding: 0 30px;
    }
}

@media screen and (max-width: 667px) {
    #sanpham {
        .menu-sanpham {
            .menu-parent>li {
                font-size: 18px;
            }
            .dropdown_menu-sanpham {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #sanpham {
        .menu-choose__product {
            width: 100%;
        }
        .product__img-right {
            width: 100%;
            .col-4 {
                width: 33.333%;
            }
        }
        .timnhieunhat__sanpham {
            display: none;
        }
    }
    .banner h1 {
        font-size: 24px;
    }
    #footer .backtop {
        right: 50px;
        bottom: 60px;
    }
    #home {
        .banner__position p {
            font-size: 15px;
        }
        .banner__position h3 {
            font-size: 20px;
        }
        .section1 .item__div1--abs p,
        .section1 .item__div1--abs li {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }
    }
    #spdetail {
        .section1__left {
            width: 60%;
        }
        .section1__right {
            width: 40%;
        }
        .section1__3--inner {
            width: 100%;
        }
        .product-sanpham {
            margin-bottom: 30px;
        }
        .section1__infor--cart a {
            font-size: 14px;
            width: 120px;
        }
    }
}

@media screen and (max-width: 568px) {
    #sanpham {
        .product__img-right {
            .col-4 {
                width: 50%;
            }
        }
    }
    #header+section,
    #header+main {
        padding-top: 80px;
    }
    .banner h1 {
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    #sectionnews {
        .section1__inner--box1 {
            width: 100%;
            float: none;
        }
        .section1__inner--box2 {
            width: 100%;
            float: none;
        }
    }
    //fancy box dang nhap dang ki
    #dangnhap .name__dangnhap li,
    #dangki .name__dangnhap li {
        font-size: 20px;
    }
    #dangnhap .contact__dangnhap .facebook,
    #dangki .contact__dangnhap .facebook {
        font-size: 12px;
        width: 100px;
    }
    #dangnhap .contact__dangnhap .gg-plus,
    #dangki .contact__dangnhap .gg-plus {
        font-size: 12px;
        width: 100px;
    }
    .dangnhap .row,
    .dangki .row {
        font-size: 13px;
    }
    #dangnhap form>a,
    #dangki form>a {
        padding: 0 20px;
        font-size: 20px;
    }
    .dangnhap,
    .dangki {
        padding: 0px;
        padding-bottom: 100px;
    }
    #home {
        .banner__position h3 {
            letter-spacing: 10px;
            font-size: 14px;
            line-height: 40px;
        }
        .banner__position p {
            font-size: 12px;
        }
        .banner__position button {
            padding: 0px 20px;
            font-size: 10px;
            line-height: 20px;
        }
        .section1__inner--menu>button,
        .section1 .item__div1--bot p {
            font-size: 14px;
        }
        .section1__inner--menu>button {
            margin: 15px 0px;
        }
        .section1 .item__div1--abs p,
        .section1 .item__div1--abs li {
            font-size: 13px;
        }
        .section1 .item__div1--abs li {
            margin: 0;
        }
    }
    #spdetail {
        .section1__left {
            width: 50%;
        }
        .section1__right {
            width: 50%;
        }
        .section1__infor--member span {
            padding: 0 10px;
        }
        .section1__infor--member {
            width: 90px;
        }
        .section1__infor--member span {
            height: 27px;
            line-height: 27px;
        }
        .section1__infor--member input {
            height: 27px;
            line-height: 27px;
        }
        .section1__infor--cart a {
            font-size: 12px;
            width: 100px;
            height: 27px;
            line-height: 27px;
            margin-left: 0;
            margin-top: 10px;
        }
        .section1__infor--cart i {
            width: 27px;
            height: 27px;
            line-height: 27px;
        }
    }
    #tin__tuc {
        .item__inner {
            border: none;
        }
    }
}

//byTuan
@media screen and (max-width: 480px) {
    #tin__tuc {
        .banner h3 {
            padding-top: 85px;
            padding-bottom: 60px;
            font-size: 30px;
        }
        .section1 {
            padding: 50px 0 65px 0;
        }
        .section1 .item__inner {
            border: none;
        }
        .section1 .item__inner--text {
            padding: 0 5px;
        }
        .section1 .item__inner--text h4 {
            font-size: 15px;
            padding: 0;
        }
        .section1 .item__inner--text>p {
            font-size: 12px;
            padding: 5px 0;
            line-height: 18px;
        }
        .section1 .item__inner--bot p,
        .section1 .item__inner--bot a {
            font-size: 10px;
        }
        .section1__inner--box2 h3 {
            font-size: 17px;
        }
        .section1 .box2__wrap--text h4 {
            font-size: 14px;
        }
        .section1 .box2__wrap--text p {
            font-size: 12px;
            padding-bottom: 7px;
        }
        .section1 .box2__wrap--text .date {
            font-size: 10px;
        }
    }
    #home {
        .banner__position {
            right: 8%;
            p {
                font-size: 12px;
            }
            h3 {
                font-size: 16px;
                line-height: 25px;
                letter-spacing: 6px;
            }
        }
        .banner {
            .owl-nav {
                padding: 0;
                span {
                    padding: 5px 10px;
                    font-size: 15px;
                }
            }
        }
        h3 {
            font-size: 15px;
            line-height: 23px;
            #sanpham {
                .product__img-right {
                    .col-4 {
                        width: 100%;
                        padding: 0 60px;
                    }
                }
                .timnhieunhat__sanpham {
                    display: block;
                }
            }
        }
        .section1 .item__div1 {
            width: 50%;
        }
        .section5__content--img {
            width: 50%;
            height: 190px;
        }
    }
    // page: Gioithieu
    .introduction_achievement .introduction_text {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .introduction_illustration {
        text-align: center;
    }
    #introduction .container img {
        width: unset;
        margin: 0;
    }
    .search_layer {
        .img-decoration {
            display: none;
        }
        form {
            padding-top: 150px;
            width: 95%;
            .fa-times {
                right: 25px;
            }
            button {
                right: -10px;
            }
        }
    }
}

@media screen and (max-width:420px) {
    #footer {
        .col-8,
        .col-4 {
            width: 100%;
            float: none;
        }
        .col-8 {
            transform: translateY(250px);
        }
        .col-4 {
            transform: translateY(-380px);
        }
        .footer_top {
            padding-top: 0;
        }
        .backtop {
            right: 50px;
            top: unset;
            bottom: 110px;
        }
    }
    .footer_column.footer_column--modify {
        margin-top: 40px;
    }
    .contact {
        width: 100%;
        h2 {
            width: unset;
        }
        form {
            text-align: center;
        }
        button {
            float: none;
        }
    }
    // fancy box dang nhap dang ki
    #dangnhap .contact__dangnhap li,
    #dangki .contact__dangnhap li {
        margin: 0;
    }
    #dangnhap .name__dangnhap .li-dangnhap,
    #dangki .name__dangnhap .li-dangnhap {
        margin-right: 25px;
    }
    button {
        right: -10px;
    }
    .contact {
        width: 100%;
        h2 {
            width: unset;
        }
        form {
            text-align: center;
        }
        button {
            float: none;
        }
    }
    #home {
        .section3__box3 li {
            line-height: 2;
        }
        .section5 h3 {
            width: 100%;
        }
    }
}

@media screen and (max-width: 360px) {
    .dangnhap,
    .dangki {
        padding-bottom: 100px;
    }
    #home {
        .tablink {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 5px;
            }
            &:nth-child(4),
            &:nth-child(5) {
                margin-top: 5px;
            }
        }
        .section1 .item__div1 {
            width: 100%;
        }
    }
}

@media screen and (max-width: 320px) {
    #sanpham {
        .product__img-right {
            .col-4 {
                width: 100%;
                padding: 0 15px;
            }
        }
    }
}

//byTuan
@media screen and (max-width:420px) {
    #footer {
        .col-8,
        .col-4 {
            width: 100%;
            float: none;
        }
        .col-8 {
            transform: translateY(250px);
        }
        .col-4 {
            transform: translateY(-380px);
        }
        .footer_top {
            padding-top: 0;
        }
        .backtop {
            right: 50px;
            top: unset;
            bottom: 110px;
        }
    }
    .footer_column.footer_column--modify {
        margin-top: 40px;
    }
    .contact {
        width: 100%;
        h2 {
            width: unset;
        }
        form {
            text-align: center;
        }
        button {
            float: none;
        }
    }
    // fancy box dang nhap dang ki
    #dangnhap .contact__dangnhap li,
    #dangki .contact__dangnhap li {
        margin: 0;
    }
    #dangnhap .name__dangnhap .li-dangnhap,
    #dangki .name__dangnhap .li-dangnhap {
        margin-right: 25px;
    }
    button {
        right: -10px;
    }
    .contact {
        width: 100%;
        h2 {
            width: unset;
        }
        form {
            text-align: center;
        }
        button {
            float: none;
        }
    }
}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 320px) {
    #sanpham {
        .product__img-right {
            .col-4 {
                width: 100%;
                padding: 0 15px;
            }
        }
    }
}