extends _layouts/layout
block content
	main#main
		section#dangnhap
			.dangnhap
				form
					+dangnhap()
					+input__dangnhap("text","Email")
					br
					+input__dangnhap("password","Mật khẩu")
					.row
						.remember__dangnhap
							+input__dangnhap("checkbox")
							span Remember me
						.forget-pass
							p Quên mật khẩu?
					a(href="#") ĐĂNG NHẬP