extends _layouts/layout
block content
	main#main
		section#dangki
			.dangki
				form
					+dangnhap()
					+input__dangnhap("text","Họ tên")
					br
					+input__dangnhap("text","Email")
					br
					+input__dangnhap("password","Mật khẩu")
					a(href="#") ĐĂNG KÍ