extends _layouts/layout
block content
	section#giohang
		.title__giohang
			.row
				.col-3
					h3 Sản phẩm
				.col-3
					h3 Số lượng
				.col-3
					h3 Thành tiền
				.col-3
					h3 Xóa
		.content-buy-product__giohang
			+giohang()