extends _layouts/layout
block content
    section#introduction
        .container-1920
            +background("Giới thiệu","images/gioithieu-banner.png")
        .introduction.paragraph--modify
            .container
                .introduction_history
                    h2 lịch sử hình thành
                    img.fleft(src="images/gioithieu-577x358.png" alt="world-food")
                    .introduction_text.fleft
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                    .clearfix
                .introduction_vision
                    h2 tầm nhìn - sứ mệnh
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .introduction_wrapimg
                        img.fleft(src="images/gioithieu-1-577x358.png" alt="world-food")
                        img.fright(src="images/gioithieu-2-577x358.png" alt="world-food")
                        .clearfix
                .introduction_achievement
                    h2 thành tựu
                    .introduction_text.fleft
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        p
                            i.fas.fa-check
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        p
                            i.fas.fa-check
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        p
                            i.fas.fa-check
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        p
                            i.fas.fa-check
                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    img.fright(src="images/gioithieu-thanhtuu.png" alt="world-food")
                    .clearfix
                    .introduction_illustration
                        img(src="images/gioithieu-3.jpg" alt="wordl-food")
                        img(src="images/gioithieu-4.png" alt="wordl-food")
                        img(src="images/gioithieu-3.jpg" alt="wordl-food")
                        img(src="images/gioithieu-4.png" alt="wordl-food")
                    .clearfix








        