extends _layouts/layout
block content
    section#home
        .banner
            .slide.owl-carousel.owl-theme
                .item
                    img(src="images/home-slide1.png" alt="slide")
                .item
                    img(src="images/home-slide1.png" alt="slide")
                .item
                    img(src="images/home-slide1.png" alt="slide")
            .banner__position
                p LOREM IPSUM DOLOR SIT AMET
                h3 LOREM IPSUM
                .button 
                    button SHOP NOW
        .section1
            .container-1212
                h3 SẢN PHẨM NỔI BẬT
                .section1__inner
                    .section1__inner--menu
                        button.tablink#defaultOpen( onclick="openPage('thit')") Thịt
                        button.tablink( onclick="openPage('rau')") Rau củ
                        button.tablink( onclick="openPage('hai')") Hải sản
                        button.tablink( onclick="openPage('spvn')") Sản phẩm Việt Nam
                        button.tablink( onclick="openPage('spkhac')") Sản phẩm khác
                    #thit.tabcontent.owl-carousel.owl-theme
                        -for(j=0; j<4; j++)
                            .item
                                .child__inner
                                    -for(i=0; i<8; i++)
                                        .item__div1
                                            .item__div1--top
                                                .item__div1--abs
                                                    p 9%
                                                    ul
                                                        li
                                                            a(href="") 
                                                                i.fa.fa-exclamation
                                                        li
                                                            a(href="")
                                                                i.fa.fa-cart-plus
                                                        li
                                                            a(href="")
                                                                i.fa.fa-heart
                                                img(src="images/home-item1.png" alt="")
                                            .item__div1--bot
                                                p Lorem Ipsum
                                                p 100.000 
                                                    span VND
                                    .clearfix
                    #rau.tabcontent.owl-carousel.owl-theme
                        -for(j=0; j<4; j++)
                            .item
                                .child__inner
                                    -for(i=0; i<8; i++)
                                        .item__div1
                                            .item__div1--top
                                                .item__div1--abs
                                                    p 9%
                                                    ul
                                                        li
                                                            a(href="") 
                                                                i.fa.fa-exclamation
                                                        li
                                                            a(href="")
                                                                i.fa.fa-cart-plus
                                                        li
                                                            a(href="")
                                                                i.fa.fa-heart
                                                img(src="images/home-item2.png" alt="")
                                            .item__div1--bot
                                                p Lorem Ipsum
                                                p 100.000 
                                                    span VND
                                    .clearfix
                    #hai.tabcontent.owl-carousel.owl-theme
                        -for(j=0; j<4; j++)
                            .item
                                .child__inner
                                    -for(i=0; i<8; i++)
                                        .item__div1
                                            .item__div1--top
                                                .item__div1--abs
                                                    p 9%
                                                    ul
                                                        li
                                                            a(href="") 
                                                                i.fa.fa-exclamation
                                                        li
                                                            a(href="")
                                                                i.fa.fa-cart-plus
                                                        li
                                                            a(href="")
                                                                i.fa.fa-heart
                                                img(src="images/home-item1.png" alt="")
                                            .item__div1--bot
                                                p Lorem Ipsum
                                                p 100.000 
                                                    span VND
                                    .clearfix
                    #spvn.tabcontent.owl-carousel.owl-theme
                        -for(j=0; j<4; j++)
                            .item
                                .child__inner
                                    -for(i=0; i<8; i++)
                                        .item__div1
                                            .item__div1--top
                                                .item__div1--abs
                                                    p 9%
                                                    ul
                                                        li
                                                            a(href="") 
                                                                i.fa.fa-exclamation
                                                        li
                                                            a(href="")
                                                                i.fa.fa-cart-plus
                                                        li
                                                            a(href="")
                                                                i.fa.fa-heart
                                                img(src="images/home-item1.png" alt="")
                                            .item__div1--bot
                                                p Lorem Ipsum
                                                p 100.000 
                                                    span VND
                                    .clearfix
                    #spkhac.tabcontent.owl-carousel.owl-theme
                        -for(j=0; j<4; j++)
                            .item
                                .child__inner
                                    -for(i=0; i<8; i++)
                                        .item__div1
                                            .item__div1--top
                                                .item__div1--abs
                                                    p 9%
                                                    ul
                                                        li
                                                            a(href="") 
                                                                i.fa.fa-exclamation
                                                        li
                                                            a(href="")
                                                                i.fa.fa-cart-plus
                                                        li
                                                            a(href="")
                                                                i.fa.fa-heart
                                                img(src="images/home-item1.png" alt="")
                                            .item__div1--bot
                                                p Lorem Ipsum
                                                p 100.000 
                                                    span VND
                                    .clearfix

        .section2
            img(src="images/home-slide2.png" alt="section2")
        .section3
            .container-1212
                h3 GÓC ẨM THỰC
                .section3__box
                    .section3__box--inner
                        .section3__box1
                            .section3__box1--img
                                img(src="images/home-amthuc1.png" onclick="currentSlide(1)" alt="hambugur" data-hash="#img1")
                            .section3__box1--img
                                img(src="images/home-amthuc2.png" onclick="currentSlide(2)" alt="Thịt kho tàu" data-hash="#img2")
                            .section3__box1--img
                                img(src="images/home-amthuc3.png" onclick="currentSlide(3)" alt="Thịt bò" data-hash="#img3")
                        .section3__box2
                            .section3__box2--img
                                img(src="images/home-amthuc4 - Copy (3).png" alt="hambugur")
                            .section3__box2--img
                                img(src="images/home-amthuc4 - Copy.png" alt="Thịt kho tàu")
                            .section3__box2--img
                                img(src="images/home-amthuc4 - Copy (2).png" alt="Thịt bò")
                        .section3__box3
                            h4 Lorem ipsup dolor sit amet
                            .section3__box3--text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                ul
                                    li
                                        i.fa.fa-check
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    li
                                        i.fa.fa-check
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    li
                                        i.fa.fa-check
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    li
                                        i.fa.fa-check
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    li
                                        i.fa.fa-check
                                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                a(href="") Xem thêm
                                .clearfix
                        .clearfix
        .section4#section4
            .container-1212
                h3 REVIEW CỦA KHÁCH HÀNG
                .section4__pos
                    .section4__pos--left
                        a#nextt
                            i.fa.fa-angle-right
                        a#prevv
                            i.fa.fa-angle-left
                        img(src="images/home_review.png" alt="custumer" stt="0")
                        img(src="images/home_review.png" alt="custumer" stt="1")
                        img(src="images/home_review.png" alt="custumer" stt="2")
                        
                    .section4__pos--right
                        ul
                            li.active
                                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                p Thomas -
                            li
                                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                p Thomas - Engineer
                            li  
                                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                p Thomas - Engineer
                            
                    .clearfix
        .section5
            .container-1212
                h3 CÁC KHÁCH HÀNG LỚN CỦA WOLRD FOOD TẠI MIỀN TRUNG
                .section5__content
                    .section5__content--img
                        a(href="")
                            img(src="images/home-logo1.png" alt="Ikombo logo")
                    .section5__content--img
                        a(href="")
                            img(src="images/home-logo2.png" alt="logo")
                    .section5__content--img
                        a(href="")
                            img(src="images/home-logo3.png" alt="Fresh-Food-Company-logo")
                    .section5__content--img
                        a(href="")
                            img(src="images/home-logo4.png" alt="Organic logo")
                    .clearfix
