extend _layouts/layout
block content
  section#contact
    .container-1920
      +background("Liên hệ","images/lienhe-banner.png")
    .contact_content
      .container
        .contact.fleft
          h2 công ty cổ phần nhập khẩu và cung ứng thế giới xanh
          .wrap_address
            span Trụ sở: 
            span 89 Trần Xuân Soạn, P. Khuê Trung, Q. Cẩm Lệ, Tp. Đà Nẵng
          .wrap_address
            span Chi nhánh:
            br
            span 03 Đô Đốc Lộc, Q. Cẩm Lệ, Tp. Đà Nẵng
            br
            span 253 Lê Thanh Nghị, Q. Hải Châu, Tp. Đà Nẵng
          .wrap_address
            span Hotline: 
            span 01238. 246. 357
          .wrap_address
            span Email: 
            span worldfoody@gmail.com
          .wrap_address
            span Website: 
            span www.worldfoody.vn
          h2.h2-modify góp ý của khách hàng
          form(action="http://www.google.com" method="post" name="feedback-form")
            input.text(type="text" name="email" placeholder="Email")
            textarea.text(name="messager" placeholder="Nội dung")
            button.btn gửi
        .map.fleft
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.5405596818023!2d105.73913581450519!3d21.051061685986333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345537dfcfbb39%3A0x802efdac1eabc81f!2sCty+CP+3F+Group!5e0!3m2!1svi!2s!4v1534324873384"></iframe>
        .clearfix