extends _layouts/layout
block content
	main#main
		.container-1920
			+background("SẢN PHẨM","../images/sanpham-banner.png")
		.container
			section#sanpham
				section.menu-choose__product
					.menu_left
						+sanpham()
				section.product__img-right
					.sanpham-right
						.row
							.col-4.fleft
								.inner
									+img-product("images/sanpham-details-360x395.png","Pork",'Lorem Ipsum', '100.000 VND', '5%')
							.col-4.fleft
								.inner.price-active
									+img-product('images/sanpham-details-360x395.png',"Pork",'Lorem Ipsum', '100.000 VND')
							.col-4.fleft
								.inner.price-active
									+img-product('images/sanpham-details-360x395.png',"Pork",'Lorem Ipsum', '100.000 VND')
							.col-4.fleft
								.inner.price-active
									+img-product("images/sanpham-details-360x395.png","Pork",'Lorem Ipsum', '100.000 VND')
							.col-4.fleft
								.inner.price-active
									+img-product('images/sanpham-details-360x395.png',"Pork",'Lorem Ipsum', '100.000 VND')
							.col-4.fleft
								.inner
									+img-product('images/sanpham-details-360x395.png',"Pork",'Lorem Ipsum', '100.000 VND', '10%')
							.col-4.fleft
								.inner.price-active
									+img-product("images/sanpham-details-360x395.png","Pork",'Lorem Ipsum', '100.000 VND')
							.col-4.fleft
								.inner.price-active
									+img-product('images/sanpham-details-360x395.png',"Pork",'Lorem Ipsum', '100.000 VND')
							.col-4.fleft
								.inner.price-active
									+img-product('images/sanpham-details-360x395.png',"Pork",'Lorem Ipsum', '100.000 VND')
							.clearfix
						.slide-next
							a(href=""): span 1
							a(href=""): span 2
							a(href=""): span 3
							a(href=""): span: i.fas.fa-chevron-right
				.clearfix