extends _layouts/layout
block content
    section#spdetail
        .banner
            +background("SẢN PHẨM","../images/sanpham-banner.png")
        .section1
            .container
                .section1__inner
                    .section1__left
                        .section1__left--1
                            .section1__left--slide
                                .section1__a.active.show
                                    i.fa.fa-search
                                    img(src="images/sanpham-details-360x395.png" alt="bo")
                                .section1__a.show
                                    i.fa.fa-search
                                    img(src="images/tintuc-news7.jpg" alt="bo")
                                .section1__a.show
                                    i.fa.fa-search
                                    img(src="images/sanpham-details-360x395.png" alt="bo")
                                .section1__a.show
                                    i.fa.fa-search
                                    img(src="images/sanpham-details-360x395.png" alt="bo")
                                .section1__b
                                    .section1__b--slide.owl-carousel.owl-theme
                                        .item
                                            img(src="images/sanpham-details-91x91.png" onclick="current(1)" alt="")
                                        .item
                                            img(src="images/tintuc-news7.jpg" onclick="current(2)" alt="")
                                        .item
                                            img(src="images/sanpham-details-91x91.png" onclick="current(3)" alt="")
                                        .item
                                            img(src="images/sanpham-details-91x91.png" onclick="current(4)" alt="")
                                        
                            .section1__left--infor
                                .section1__infor--1
                                    h4 Lorem Ipsum
                                    p.cost 100.000 VND
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .section1__infor--bot
                                    .section1__infor--member
                                        span.left -
                                        span.right +
                                        input(type="text" value="1" name="number" min="0" required )
                                    .section1__infor--cart
                                        a(href="") ADD TO CART
                                        i.fa.fa-heart
                                    .clearfix
                            .clearfix
                        .section1__left--2
                            ul
                                li MÔ TẢ SẢN PHẨM        
                                li BÌNH LUẬN
                            p 1-Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            p 2-Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            
                        .section1__left--3
                            .section1__3--top
                                .hr
                                p
                                    span SẢN PHẨM TƯƠNG TỰ
                            .section1__3--bot
                                .section1__3--inner
                                    +img-product("images/sanpham-details-360x395.png","Pork",'Lorem Ipsum', '100.000 VND')
                                .section1__3--inner
                                    +img-product("images/sanpham-details-360x395.png","Pork",'Lorem Ipsum', '100.000 VND')
                                .section1__3--inner
                                    +img-product("images/sanpham-details-360x395.png","Pork",'Lorem Ipsum', '100.000 VND', '5%')
                                .clearfix
                    .section1__right
                        +sanpham()
                    .clearfix
