extend _layouts/layout
block content
  section#tin__tuc
    +background("Tin Tức","images/tintuc-banner.png")
    .section1
        .container
            .section1__inner
                .section1__inner--box1
                    +tintucitem("images/tintuc-news1.jpg","Lorem ipsum dolorsit amet","Lorem ipsum dolorsit amet consectuer adipísing etLorem ipsum dolorsit amet consectuer adipísing et...","27/06/2018")
                    +tintucitem("images/tintuc-news2.jpg","Lorem ipsum dolorsit amet","Lorem ipsum dolorsit amet consectuer adipísing etLorem ipsum dolorsit amet consectuer adipísing et...","27/06/2018")
                    +tintucitem("images/tintuc-news3.jpg","Lorem ipsum dolorsit amet","Lorem ipsum dolorsit amet consectuer adipísing etLorem ipsum dolorsit amet consectuer adipísing et...","27/06/2018")
                    +tintucitem("images/tintuc-news4.jpg","Lorem ipsum dolorsit amet","Lorem ipsum dolorsit amet consectuer adipísing etLorem ipsum dolorsit amet consectuer adipísing et...","27/06/2018")
                    +tintucitem("images/tintuc-news3.jpg","Lorem ipsum dolorsit amet","Lorem ipsum dolorsit amet consectuer adipísing etLorem ipsum dolorsit amet consectuer adipísing et...","27/06/2018")
                    +tintucitem("images/tintuc-news4.jpg","Lorem ipsum dolorsit amet","Lorem ipsum dolorsit amet consectuer adipísing etLorem ipsum dolorsit amet consectuer adipísing et...","27/06/2018")
                    .button
                        button 1
                        button 2
                        button 
                            i.fa.fa-angle-right
                +tinmoinhat() 
                .clearfix