
footer#footer
  .footer_top
    .container
      .row
        .col-8
          .footer_column
            img(src="images/web-logo.png" alt="world food")
            h2 công ty cổ phần xuất nhập khẩu <br/>và cung ứng thực phẩm thế giới xanh
            .footer_address
              i.fas.fa-map-marker-alt
              span 89 Trần Xuân Soạn, P. Khuê Trung, Q. Cẩm Lệ, Tp. Đà Nẵng
            .footer_address
              i.fas.fa-phone
              span 01238. 246. 357
            .footer_address
              i.fas.fa-envelope
              span worldfoody@gmail.com
            .footer_address
              i.fas.fa-globe
              span www.worldfoody.vn
        //-end footer_column
        .col-4
          .footer_column.footer_column--modify
            h3 NEWSLETTER
            form(action="http://www.google.com" method="post" name="form-email")
              input(type="text" name="customeremail" placeholder="Enter your email")
              i.fas.fa-arrow-right
              button(type="submit" value="SUBSCRIBE") SUBSCRIBE
            .social
              a(href="http://www.google.com"): i.fab.fa-facebook-f
              a(href="http://www.google.com"): i.fab.fa-instagram
              a(href="http://www.google.com"): i.fab.fa-youtube
              a(href="http://www.google.com"): i.fab.fa-pinterest
        //- end footer_column
  .footer_bot
    .container
      p Copyright@2018. All Right Reserved
  i.fas.fa-angle-up.backtop