header#header
  .container-1920
    .header_content
      img(src="images/web-logo.png" alt="world food")
      .wrap_navmore
          a(href="#fancybox-giohang" data-fancybox)
            i.fas.fa-cart-plus
              span.countitem 0
          a(href="#fancybox-dangnhap-dangki" data-fancybox="a"): i.far.fa-user-circle
          i.fab.fa-sistrix(title="Tìm kiếm")
      nav
        ul
          li: a(href="index.html") trang chủ
          li: a(href="gioithieu.html") giới thiệu
          li: a(href="sanpham.html") sản phẩm
          li: a(href="tintuc.html") tin tức
          li: a(href="lienhe.html") liên hệ
        .bar-customer
          span
          span
          span
      .clearfix
  .search_layer
    form(action="#" method="post" name="form-search")
      i.fas.fa-times(title="Đóng")
      img.img-decoration(src="images/search-2.png" alt="search")
      input(type="text" placeholder="Sản phẩm muốn tìm?")
      button(type="submit"): i.fab.fa-sistrix
  #fancybox-dangnhap-dangki
    section#dangnhap
      .dangnhap
        form
          +dangnhap()
          +input__dangnhap("text","Email")
          br
          +input__dangnhap("password","Mật khẩu")
          .row
            .remember__dangnhap
              +input__dangnhap("checkbox","Email")
              span Remember me
            .forget-pass
              p Quên mật khẩu?
          a(href="#") ĐĂNG NHẬP
    section#dangki
      .dangki
        form
          +dangnhap()
          +input__dangnhap("text","Họ tên")
          br
          +input__dangnhap("text","Email")
          br
          +input__dangnhap("password","Mật khẩu")
          a(href="#") ĐĂNG KÍ
  #fancybox-giohang
    section#giohang
      .padding__giohang
        .title__giohang
          .row
            .col-3.title-sanpham
              h3 Sản phẩm
            .col-3.title-number
              h3 Số lượng
            .col-3.title-price
              h3 Thành tiền
            .col-3.title-delete
              h3 Xóa
        .content-buy-product__giohang
          +giohang("100.000 VND","1","100.000 VND")
          +giohang("200.000 VND","2","200.000 VND")
        .content-tong-all.row
          .tong-all
            .tong-sanpham
              h4 Tổng số sản phẩm:
              span 03
            .price-transport
              h4 Chi phí vận chuyển:
              span 0
            .tong-tien
              h4 Tổng tiền:
              span 300.000 VND
        a(href="#") THANH TOÁN