// Mixins
include ../../components/giohang/giohang.pug
include ../../components/img-product/img-product.pug
include ../../components/dangnhap/dangnhap.pug
include ../../components/tinmoinhat/tinmoinhat.pug
include ../../components/sanpham/sanpham.pug
include ../../components/tin-moi/tin-moi.pug
include ../../components/tintucitem/tintucitem.pug
include ../../components/background/background.pug
include ../../components/menuitem/menuitem.pug