//- Ex: $colorBg: #fff;
//- Use: background: $colorBg;
#home {
    .banner {
        position: relative;
        z-index: 4;
        .slide {
            position: relative;
            top: 1px; //test
        }
        .owl-dots {
            display: none;
        }
        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            padding: 0;
            width: 100%;
            padding: 0px 60px;
            span {
                font-size: 25px;
                padding: 10px 20px;
                background: #fff;
                border-radius: 50%;
            }
            button:hover {
                border: none;
                border-radius: 0;
                height: 0;
                span {
                    background: #4C4C4C;
                }
            }
            button {
                outline: transparent;
            }
        }
        .owl-prev {
            float: left;
        }
        .owl-next {
            float: right;
        }
        .button {
            text-align: center;
        }
        &__position {
            position: absolute;
            right: 10%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            font-family: 'iCielGraphik';
            p {
                font-size: 40px;
                line-height: 52px;
                color: #4C4C4C;
                padding: 0;
                margin: 0;
            }
            h3 {
                font-family: 'AbhayaLibre';
                font-weight: 500;
                text-align: left;
                font-size: 60px;
                letter-spacing: 16px;
                line-height: 77px;
                color: #8CC540;
                padding: 0;
                margin: 67px 0px;
            }
            button {
                margin: 0;
                padding: 0px 60px;
                border-radius: 30px;
                border: 3px solid #8CC540;
                text-align: center;
                cursor: pointer;
                font-size: 25px;
                line-height: 60px;
            }
        }
    }
    // .slide .owl-nav [class*=owl-] {
    //     border-radius: 50%;
    // }
    h3 {
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        color: #8CC540;
        text-align: center;
        margin: 0;
    }
    .tabcontent {
        display: none;
    }
    #thit {
        display: block;
    }
    .section1 {
        h3 {
            padding: 77px 0 0 0;
        }
        &__inner {
            padding-bottom: 105px;
            &--menu>button {
                margin: 45px;
                background: #fff;
                outline: transparent;
                font-size: 20px;
                line-height: 46px;
                color: #4c4c4c;
                border: none;
            }
            .tablink {
                transition: all 0.2s linear;
                border-bottom: 4px solid transparent;
            }
            &--menu {
                margin: 0px;
                width: 100%;
                text-align: center;
            }
            .tablink:hover {
                // text-decoration: #8CC540;
                border-bottom: 4px solid #8CC540;
            }
        }
        .item__inner {
            margin: 0 -15px;
        }
        .item__div1 {
            width: 25%;
            float: left;
            padding: 0 15px;
            margin-bottom: 80px;
            &--top {
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                transition: all 0.5s linear;
                &:hover {
                    .item__div1--abs {
                        display: block;
                    }
                }
            }
            &--abs {
                position: absolute;
                width: 100%;
                height: 100%;
                display: none;
                p {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    margin: 0;
                    background: #ff4747;
                    margin-top: 10px;
                    margin-left: 10px;
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;
                    line-height: 40px;
                }
                ul {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    text-align: center;
                }
                li {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background: #fff;
                    border-radius: 50%;
                    margin: 0 15px;
                    line-height: 40px;
                    transition: all 0.2s linear;
                }
                li:hover {
                    background: #8CC540;
                    a {
                        color: #fff;
                    }
                }
                a {
                    color: #9f9f9f;
                    display: block;
                }
            }
            &--bot {
                text-align: center;
                p {
                    font-size: 20px;
                    color: #4c4c4c;
                    line-height: 23px;
                }
                p:last-child {
                    color: #8CC540;
                }
            }
        }
        .child__inner {
            margin: 0 -15px;
        }
        .owl-theme .owl-nav {
            display: none;
        }
        .owl-dots {
            button {
                outline: transparent;
            }
        }
    }
    .owl-carousel .owl-item img {
        margin: auto;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #8CC540;
    }
    .owl-carousel.owl-drag .owl-item {
        overflow: hidden;
    }
    .section3 {
        padding: 155px 0;
        h3 {
            padding-bottom: 65px;
        }
        &__box {
            &--inner {
                margin: 0 -15px;
            }
        }
        &__box1 {
            width: 14.15%;
            float: left;
            padding: 0 15px;
            &--img {
                padding-bottom: 45px;
                cursor: pointer;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
        &__box2 {
            width: 45%;
            float: left;
            padding: 0 15px;
        }
        &__box3 {
            width: 40%;
            float: left;
            padding: 0 15px;
            h4 {
                margin: 0;
                padding: 15px 0;
                font-weight: 400;
                font-size: 25px;
                line-height: 32px;
                color: #FF6B00;
                border-bottom: 1px solid #FF6B00
            }
            &--text {
                padding: 40px 0;
                p {
                    line-height: 24px;
                    padding: 0;
                    margin: 0;
                }
            }
            li {
                padding: 10px 0;
                line-height: 24px;
                overflow: hidden;
            }
            i {
                color: #8CC540;
                padding-right: 5px;
                text-align: left;
                margin-top: 5px;
            }
            span {
                width: 95%;
            }
            a {
                font-size: 18px;
                font-style: italic;
                font-weight: 500;
                line-height: 27px;
                float: right;
                color: #8CC540;
            }
        }
    }
    .section4 {
        background: url("images/home-slide3.png") center center no-repeat;
        background-size: cover;
        padding: 75px 0 115px 0;
        color: #fff;
        &__pos {
            margin: 120px -20px 0px -20px;
            &--left {
                width: 33.3333%;
                float: left;
                padding: 0 20px;
                position: relative;
                border-right: 2px solid #fff;
                #nextt,
                #prevv {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background: #fff;
                    line-height: 45px;
                    color: #4C4C4C;
                    text-align: center;
                    cursor: pointer;
                    &:hover {
                        background: #8CC540;
                        color: #fff;
                    }
                }
                #nextt {
                    right: 40px;
                }
                #prevv {
                    left: 40px;
                }
                img {
                    margin: auto;
                    &:nth-child(4),
                    &:nth-child(5) {
                        display: none;
                    }
                }
            }
            &--right {
                width: 66.6666%;
                float: left;
                padding: 0 20px;
                li {
                    display: none;
                }
                .active {
                    display: block;
                }
            }
            p {
                font-size: 18px;
                line-height: 23px;
            }
            .text {
                font-style: italic;
                line-height: 24px;
            }
        }
    }
    .section5 {
        padding: 70px 0 95px 0;
        h3 {
            padding-bottom: 70px;
            width: 75%;
            margin: auto;
        }
        &__content {
            margin: 0 -35px;
            &--img {
                width: 25%;
                float: left;
                padding: 0 35px;
            }
        }
    }
}