#spdetail {
    .section1 {
        padding: 90px 0;
        &__inner {
            margin: 0 -15px;
        }
        &__left {
            width: 75%;
            float: left;
            padding: 0 15px;
            &--1 {
                margin: 0 -15px;
            }
            &--slide {
                padding: 0 15px;
                width: 45%;
                float: left;
            }
            &--infor {
                padding: 0 15px;
                width: 55%;
                float: left;
            }
            &--2 {
                padding: 65px 0 75px 0;
                ul {
                    width: 100%;
                    border-bottom: 1px solid #c4c4c4;
                    li {
                        display: inline-block;
                        margin-right: 40px;
                        margin-bottom: 25px;
                        font-weight: 500;
                        cursor: pointer;
                        // li {
                        //     position: absolute;
                        //     width: 100%;
                        //     display: none;
                        //     top: 100%;
                        //     font-weight: 400;
                        // }
                    }
                }
                p {
                    display: none;
                    padding-top: 45px;
                    margin: 0;
                    padding-top: 45px;
                    text-align: justify;
                    line-height: 23px;
                    color: #4c4c4c;
                }
                .activee {
                    color: #8CC540;
                }
            }
            &--3 {
                width: 100%;
            }
        }
        &__infor {
            &--1 {
                h4 {
                    font-size: 30px;
                    line-height: 35px;
                    color: #4c4c4c;
                    font-weight: 400;
                    margin: 0;
                    padding-bottom: 15px;
                }
                .cost {
                    font-size: 30px;
                    line-height: 35px;
                    color: #8CC540;
                    padding-bottom: 25px;
                }
                p {
                    line-height: 23px;
                    color: #4c4c4c;
                    text-align: justify;
                    margin: 0;
                    padding-bottom: 25px;
                }
            }
            &--member {
                position: relative;
                width: 150px;
                height: 100%;
                float: left;
                span {
                    background: #f2f2f2;
                    position: absolute;
                    z-index: 1;
                    height: 34px;
                    padding: 0 20px;
                    line-height: 34px;
                    border: 1px solid #c4c4c4;
                    cursor: pointer;
                }
                .left {
                    border-top-left-radius: 17px;
                    border-bottom-left-radius: 17px;
                }
                .right {
                    border-top-right-radius: 17px;
                    border-bottom-right-radius: 17px;
                    right: 0;
                }
                input {
                    border: 1px solid #c4c4c4;
                    width: 100%;
                    height: 34px;
                    text-align: center;
                    outline: transparent;
                    border-radius: 17px;
                }
            }
            &--cart {
                float: left;
                a {
                    margin: 0 15px;
                    color: #fff;
                    width: 150px;
                    text-align: center;
                    height: 34px;
                    line-height: 38px;
                    background: #8CC540;
                    display: inline-block;
                    border-radius: 17px;
                }
                i {
                    color: #767676;
                    background: #fff;
                    width: 34px;
                    height: 34px;
                    text-align: center;
                    line-height: 34px;
                    border-radius: 50%;
                    border: 1px solid #767676;
                    cursor: pointer;
                }
            }
        }
        &__a {
            position: relative;
            display: none;
            padding-bottom: 30px;
            i {
                position: absolute;
                right: 20px;
                top: 15px;
                cursor: pointer;
            }
            img {
                width: 100%;
            }
        }
        &__right {
            width: 25%;
            float: left;
            padding: 0 15px;
            .menu__sanpham {
                h2 {
                    margin: 0;
                    padding-bottom: 40px;
                }
            }
            .timnhieunhat__sanpham {
                h2 {
                    padding-top: 65px;
                }
            }
        }
        .active {
            display: block;
        }
        .owl-dots {
            display: none;
        }
        .owl-nav {
            text-align: unset;
            margin: 0;
            left: 0;
            position: absolute;
            height: 0;
            top: 25%;
            transform: translateY(-25%);
            width: 100%;
            z-index: 9;
        }
        &__b--slide {
            position: relative;
            padding: 0 20px;
        }
        &__b {
            .owl-stage {
                .active:last-child {
                    .item {
                        margin-right: 20px;
                    }
                }
            }
            img {
                cursor: pointer;
            }
        }
        &__3 {
            &--top {
                width: 100%;
                position: relative;
                .hr {
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background: #c4c4c4;
                    top: 50%;
                    transform: translateY(-50%);
                }
                p {
                    position: relative;
                    font-weight: 500;
                    margin: 0 auto;
                    text-align: center;
                }
                span {
                    padding: 0 5px;
                    background: #fff;
                }
            }
            &--bot {
                margin: 0 -15px;
                padding-top: 30px;
            }
            &--inner {
                width: 33.3333%;
                float: left;
                padding: 0 15px;
                &:nth-child(1),
                &:nth-child(2) {
                    .price__active {
                        background: unset;
                    }
                }
            }
        }
    }
    .owl-carousel .owl-stage-outer {
        z-index: 99;
    }
    .owl-prev {
        float: left;
        margin-left: 0px;
        font-size: 35px;
    }
    .owl-next {
        float: right;
        margin-right: 0px;
        font-size: 35px;
    }
    .owl-theme .owl-nav [class*=owl-]:hover {
        color: #8CC540;
        background: transparent;
    }
    .owl-item {
        margin-right: 0;
    }
    .item {
        padding: 0;
    }
    .owl-stage {
        .active:first-child {
            padding-left: 15px;
        }
        .active:last-child {
            padding-right: 15px;
        }
    }
    .menu-sanpham .menu-parent>li {
        padding-right: 0;
    }
}