#tin__tuc {
    .container {
        padding: 0 15px;
    }
    .section1 {
        padding: 95px 0 65px 0;
        height: 100%;
        &__inner {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin: 0 -15px;
            &--box1 {
                width: 66.6666%;
                float: left;
                padding: 0 15px;
            }
        }
        button {
            outline: transparent;
        }
        .news {
            position: relative;
        }
        .button {
            text-align: center;
            button {
                background: #fff;
                font-size: 24px;
                line-height: 37px;
                color: #4c4c4c;
                border-radius: 50%;
                border: 1px solid #4c4c4c;
                margin: 0 15px;
                width: 50px;
                height: 50px;
                &:hover {
                    color: #fff;
                    background: #8CC63F;
                }
            }
        }
    }
}