.menu-sanpham{
	cursor: pointer;
	.dropdown_menu-sanpham {
	    display: none;
	    font-size: 17px;
		li{
		    padding-left: 15px;
		    line-height: 32px;
	    	margin-bottom: 7px;
	    	&:hover a{
	    	color: #8CC540;
	    	}
		}
	}
	span {
    float: right;
    transition: 0.5s;
	}
	.menu-parent{
		& > li{
			font-size: 20px;
			line-height: 36px;
    		margin-bottom: 8px;
    		padding-right: 15px;
    	&:hover > a{
	    	color: #8CC540;
	    }
		}
	}
}
.menu__sanpham{
	h2{
		font-size: 30px;
		margin: 100px 0 40px 0;
		line-height: 35px;
		color: #8CC540;
		display: inline-block;
		&:nth-child(2){
			margin-top: 60px;
		}
	}
}
span.active-dropdown{
	transform: rotate(-90deg);
}
.timnhieunhat__sanpham{
	h2{
		margin-top: 60px;
	}
	h4{
		font-weight: 400;
		font-size: 16px;
		padding-bottom: 17px;
	}
	p{
		color: #8CC540;
		font-size: 18px;
		font-weight: 400;
	}
}