mixin sanpham()
	section.menu__sanpham
		section.menu-sanpham-show
			h2 DANH MỤC
			.menu-sanpham
				nav
					ul.menu-parent
						li.click-dropdown_menu
							a(href="#") Thịt
							span: i.fas.fa-caret-left
							ul.dropdown_menu-sanpham
								li: a(href="#") Thịt bò Úc
								li: a(href="#") Thịt bò Mỹ
								li: a(href="#") Thịt bò Việt Nam
								li: a(href="#") Thịt heo
								li: a(href="#") Thịt gà
						li.click-dropdown_menu
							a(href="#") Hải sản
							span: i.fas.fa-caret-left
							ul.dropdown_menu-sanpham
								li: a(href="#") Thịt bò Úc
								li: a(href="#") Thịt bò Mỹ
								li: a(href="#") Thịt bò Việt Nam
								li: a(href="#") Thịt heo
								li: a(href="#") Thịt gà
						li.click-dropdown_menu
							a(href="#") Rau củ, Quả
							span: i.fas.fa-caret-left
							ul.dropdown_menu-sanpham
								li: a(href="#") Thịt bò Úc
								li: a(href="#") Thịt bò Mỹ
								li: a(href="#") Thịt bò Việt Nam
								li: a(href="#") Thịt heo
								li: a(href="#") Thịt gà
						li.click-dropdown_menu
							a(href="#") Sản vật Việt Nam
							span: i.fas.fa-caret-left
							ul.dropdown_menu-sanpham
								li: a(href="#") Thịt bò Úc
								li: a(href="#") Thịt bò Mỹ
								li: a(href="#") Thịt bò Việt Nam
								li: a(href="#") Thịt heo
								li: a(href="#") Thịt gà
						li.click-dropdown_menu
							a(href="#") Thực phẩm khác
							span: i.fas.fa-caret-left
							ul.dropdown_menu-sanpham
								li: a(href="#") Thịt bò Úc
								li: a(href="#") Thịt bò Mỹ
								li: a(href="#") Thịt bò Việt Nam
								li: a(href="#") Thịt heo
								li: a(href="#") Thịt gà
		section.timnhieunhat__sanpham
			h2 TÌM NHIỀU NHẤT
			.tim-nhieu-nhat
				+tin-moi("../images/sanpham-details-100x100.png","Lorem Ipsum","100.000 VND")
				+tin-moi("../images/sanpham-details-100x100.png","Lorem Ipsum","100.000 VND")
				+tin-moi("../images/sanpham-details-100x100.png","Lorem Ipsum","100.000 VND")
				+tin-moi("../images/sanpham-details-100x100.png","Lorem Ipsum","100.000 VND")