.section1__inner--box2 {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
    h3 {
        font-size: 30px;
        line-height: 46px;
        color: #8CC63F;
        margin: 0;
        font-weight: 600;
    }
}