// Start: tinmoinhat

mixin tinmoinhat()
    .section1__inner--box2
        h3 TIN MỚI NHẤT
        .box2__wrap
            +tin-moi("images/tintuc-news5.jpg", "Lorem ipsum dolorsit amet", "Lorem ipsum dolorsit amet consectuer adipísing et...", "20/07/2018")
            
            +tin-moi("images/tintuc-news6.jpg", "Lorem ipsum dolorsit amet", "Lorem ipsum dolorsit amet consectuer adipísing et...", "20/07/2018")
            
            +tin-moi("images/tintuc-news7.jpg", "Lorem ipsum dolorsit amet", "Lorem ipsum dolorsit amet consectuer adipísing et...", "20/07/2018")
            
            +tin-moi("images/tintuc-news8.jpg", "Lorem ipsum dolorsit amet", "Lorem ipsum dolorsit amet consectuer adipísing et...", "20/07/2018")
        

// End: tinmoinhat
