include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
	head
		title=base.title
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
		link(rel="stylesheet", href="libs/fontawesome/css/all.min.css")
		link(rel="stylesheet", href="libs/animate.css/animate.css")
		link(rel="stylesheet", href="libs/Owlcarousel/assets/owl.theme.default.min.css")
		link(rel="stylesheet", href="libs/Owlcarousel/assets/owl.carousel.min.css")
		//link fancybox
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css")
		// Styles
		link(rel="stylesheet" type="text/css" href="style.css")
	body
		#wrapper
			block header
				include ../_partials/header
			block content
			block footer
				include ../_partials/footer
		//#wrapper

		//JS
		script(src="libs/jQuery/jquery.min.js")
		//- script(src="libs/fancybox/fancybox-master/dist/jquery.fancybox.min.js")
		script(src="libs/OwlCarousel/owl.carousel.min.js")
		script(src="js/script.js")
		// link fancybox
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")
		block body_end