.banner {
    position: relative;
    h1 {
        position: absolute;
        color: #fff;
        top: 60%;
        transform: translateY(-60%);
        width: 100%;
        text-align: center;
        font-size: 40px;
        line-height: 52px;
        font-weight: 600;
        text-transform: uppercase;
    }
}