mixin img-product(url_img, alt, name, price, giamgia)
	.product-sanpham
		.img-hover__bg-price
			img(src=url_img alt=alt)
			span.hover-bg-opacity
			span.price__active=giamgia
			.hover-block
				a(href="sanphamdetail.html"): i.fas.fa-info
				a(href=""): i.fas.fa-shopping-cart
				a(href=""): i.fas.fa-heart
		h4=name
		p=price